---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title="Item properties" shell shellPath={Astro.url.pathname}>
  <h1 class="record-title">Item properties</h1>
  <p class="meta">Item properties will be listed here.</p>
</Layout>
