---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title="Locations" shell shellPath={Astro.url.pathname}>
  <h1 class="record-title">Locations</h1>
  <p class="meta">This section is empty for now.</p>
</Layout>
